%section
  %h2 About Myself

%section
  %ul
    %li Twenty years of software development, the last ten for money.
    %li Attended Southern Illinois and Middle Tennessee State, receiving letters of academic probation from both.
    %li Type 84 words per minute, error-free.
    %li Coined the term <em>filandering</em>, which refers to a specific domain of phishing attacks.
    %li Led software development for brand names like The Week, Dell, Unisys, AirBnb, and Wipro.
    %li Currently in the Mid-States Art Exhibition; art has informed my work with CV.
