%section
  %h2 Face Detection
  %pre
    %code.ruby= File.read('../../jaronson/face_match/lib/face_match/detector.rb')
%section
  %h3 From an Image
%section
  %h3 From Video
  %pre
    %code.ruby= File.read('../../jaronson/face_match/lib/face_match/tracker.rb')
%section
  %h3 With Multiple Subjects
