%section
  %h2 A Brief History of Face Detection

%section
  %h3 1964: Bledsoe, Chan &amp; Bisson
  %p
    Bledsoe's system computed the distances between feature points, normalized over rotation, lean, tilt &amp; scale.
  %p
    Processed only 40 images per hour though out-performing humans at the same task.
  %footer
    %cite
      Thorat, Nayak &amp; Dandale
      <a href="http://arxiv.org/pdf/1005.4263.pdf">Facial Recognition Technology: An Analysis with scope in India</a>

%section
  %h3 1987: Sirovich &amp; Kirby
  %h3 1991: Turk &amp; Pentland
  %p
    Methods were developed to first, use principal component analysis to develop sets of base features
    on a collection of face images, and then to relate new images to these canonical sets.

  %footer
    %cite
      L. Sirovich and M. Kirby,
      <a href="http://www.opticsinfobase.org/josaa/abstract.cfm?uri=josaa-4-3-519">
      <em>Low-dimensional procedure for the characterization of human faces</em></a>

%section
  %h3 1994: Ojala, Pietikäinen, &amp; Harwood
  %p
    Demonstrated the use of local binary patterns histograms for texture classification and face detection
    irrespective of lighting conditions.

  %footer
    %cite
      T. Ojala, M. Pietikäinen, D. Harwood,
      <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=576366&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D576366">
      <em>Performance evaluation of texture measures with classification based on Kullback discrimination of distributions</em></a>

%section
  %h3 2001: Viola &amp; Jones
  %p
    Developed a learning algorithm to select key features and the subsequent application of classifiers in increasing complexity.
  %footer
    %cite
      P. Viola and M. Jones, <a href="https://www.cs.cmu.edu/~efros/courses/LBMV07/Papers/viola-cvpr-01.pdf"><em>Rapid object detection using a boosted cascade of simple features</em></a>

