%section
  %h2 A Brief History of Face Detection

%section
  %h3 1964: Origins
  .row
    .span8
      %p
        Attempt to identify faces using normalized lengths between points and ratios of distances among facial
        landmarks such as eyes, mouth, nose and chin.
    .span4
      %img{ src: '/img/facerec.png' }

  %footer
    %cite
      Thorat, Nayak &amp; Dandale,
      <a href="http://arxiv.org/pdf/1005.4263.pdf">Facial Recognition Technology: An Analysis with scope in India</a>
    %br
    %cite
      M. Turk and A. Pentland
      <a href="http://www.face-rec.org/algorithms/PCA/jcn.pdf">
      Eigenfaces for Recognition</a>

%section#history-eigenfaces
  %h3 1991: Eigenfaces
  .row
    .span6
      %p
        Methods were developed to first, use principal component analysis to determine sets of base features
        on a collection of face images, and then to relate new images to these canonical sets.
    .span6
      %img{ src: '/img/eigenface_reconstruction_opencv.png' }

  %footer
    %cite
      L. Sirovich and M. Kirby,
      <a href="http://www.opticsinfobase.org/josaa/abstract.cfm?uri=josaa-4-3-519">
      Low-dimensional procedure for the characterization of human faces</a>

%section#history-lbp
  %h3 1994: Local Binary Patterns Histograms
  .row
    .span6
      %p
        Demonstrated the use of local binary patterns histograms for texture classification and face detection
        irrespective of lighting conditions.
    .span6
      %img{ src: '/img/lbp_yale.jpg' }

  %footer
    %cite
      T. Ojala, M. Pietikäinen, D. Harwood,
      <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=576366&url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D576366">
      Performance evaluation of texture measures with classification based on Kullback discrimination of distributions</a>

%section#history-haar
  %h3 2001: Haar Cascades
  .row
    .span6
      %p
        Developed a learning algorithm to select key features and the subsequent application of classifiers in increasing complexity.
    .span6
      %img{ src: '/img/haar_cascade.png' }
  %footer
    %cite
      P. Viola and M. Jones, <a href="https://www.cs.cmu.edu/~efros/courses/LBMV07/Papers/viola-cvpr-01.pdf">Rapid object detection using a boosted cascade of simple features</a>
    %br
    %cite
      G. Borenstein, <a href="https://github.com/atduskgreg/Makematics/blob/master/research/haar_detection/index.md">Adam Harvey Explains Haar Detection</a>

