%section
  %h2 Social Implications
  %h4
    Or: Given the Global Surveillance Disclosures
    by Snowden, Greenwald &amp; Poitras, et. al. (2013 - Present),
    I Am Pleased That This Is So Trivially Accomplished and Eagerly Await
    Forthcoming Developments in the Area of Face Detection &amp; Recognition
