%section

  %h2 A Note on Terminology

%section
  %p
    We take &quot;Face Detection&quot; to mean a subset of
    pattern or object detection in general.
  %p
    Whereas &quot;Face Recognition&quot; is the attempted matching
    of detected faces against a set of known or unknown images.
