.reveal .slides > section, .reveal .slides > section > section {
  padding-top: 0;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "News Cycle", sans-serif;
}

.reveal section {
  z-index: 100;
}

.reveal footer {
  line-height: 0.7;
}

.reveal footer cite {
  font-size: 50%;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal pre {
  display: block;
  box-shadow: none;
}

.reveal pre code {
  color: #666;
  background-color: #fff;
  max-height: none;
  font-size: 80%;
  line-height: 1;
  overflow: hidden;
}

.reveal ol {
  display: block;
  font-size: 80%;
}

/* Sections */
#history-origins,
#history-eigenfaces,
#history-lbp,
#history-haar,
#history-present
{
  text-align: left;
}

#opencv-title .images img{
  width: 25%;
}

#opencv-title .images img:first-child {
  margin-right: 10%;
}

#opencv-ruby-wrappers .row,
#face-recognition-training .row
{
  text-align: left;
  margin-bottom: 2rem;
}

#opencv-ruby-wrappers a,
#face-recognition-training a,
#opencv-ruby-wrappers span,
#face-recognition-training span
{
  font-size: 60%;
  display: block;
}

#race-detect .boxes {
  width: 100%;
  height: 640px;
  box-shadow: 2px 2px 30px #666;
  opacity: 0.8;
}

.box {
  height: 320px;
  width: 33.3333%;
  float: left;
  background-color: #000;
  text-align: left;
}

.box.white  { background-color: #FFFFE5; }
.box.black  { background-color: #331A00; }
.box.brown  { background-color: #663300; }
.box.yellow { background-color: #FFCC33; }
.box.red    { background-color: #99001A; }
.box.violet { background-color: #990066; }

